<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core" />
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
    </sectionGroup>
  </configSections>

  <spring>

    <context>
      <resource uri="config://spring/objects" />
    </context>

    <objects xmlns="http://www.springframework.net">
      <description>An example that demonstrates simple AOP functionality.</description>

      <object id="consoleLoggingAroundAdvice"
            type="Spring.Aop.Support.RegularExpressionMethodPointcutAdvisor">
        <property name="pattern" value="Do"/>
        <property name="advice">
          <object type="SpringAOP.ConsoleLoggingAroundAdvice"/>
        </property>
        
      </object>
      
      <object id="myServiceObject" type="Spring.Aop.Framework.ProxyFactoryObject">
        <property name="target">
          <object id="myServiceObjectTarget"
              type="SpringAOP.ServiceCommand"/>
        </property>
        <property name="interceptorNames">
          <list>
            <value>consoleLoggingAroundAdvice</value>
          </list>
        </property>
      </object>


      <object id="beforeAdvice" type="SpringAOP.ConsoleLogginBeforeAdvice, SpringAOP"/>
      <object id="myBeforeServiceObject"
              type="Spring.Aop.Framework.ProxyFactoryObject, Spring.Aop">
        <property name="Target">
          <object id ="myBeforeServiceObjectTarget"
                  type="SpringAOP.ServiceCommand, SpringAOP"/>
        </property>
        <property name="InterceptorNames">
          <list>
            <value>beforeAdvice</value>
          </list>
        </property>
      </object>

      <object id="afterAdvice"
              type="SpringAOP.ConsoleLogginAfterAdvice, SpringAOP"/>
      <object id="myAfterAdvice"
              type="Spring.Aop.Framework.ProxyFactoryObject, Spring.Aop">
        <property name="Target">
          <object id="myAfterAdviceTarget"
                  type="SpringAOP.ServiceCommand, SpringAOP"/>
        </property>
        <property name="InterceptorNames">
          <list>
            <value>afterAdvice</value>
          </list>
        </property>
      </object>
    </objects>

  </spring>

</configuration>